<p>home works!</p>

<div *ngxPermissionsOnly="['ADMIN']">
  <h1>Admin</h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laudantium libero natus nihil numquam, possimus provident saepe voluptate! Accusamus alias cum error est in iusto maiores mollitia, nihil saepe voluptate.
</div>


<div *ngxPermissionsOnly="['GUEST']">
  <h1>Guest</h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laudantium libero natus nihil numquam, possimus provident saepe voluptate! Accusamus alias cum error est in iusto maiores mollitia, nihil saepe voluptate.
</div>
